server:
  port: 8086

spring:
  application:
    name: middleware-platform-server-registry-center
  datasource:
    url: jdbc:mysql://book-i7-4mq:3306/middleware_platform_registry_center?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl